{% extends "base.html" %}
{% block content %}

<h2>Edit this member</h2>

<form action="/members/{{ member.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ member.name }}">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ member.email }}">
        <label for="premium">standard:</label>
        <input type="radio" id="premium" name="premium" value="False">
        <label for="premium">Premium</label>
        <input type="radio" id="premium" name="premium" value="True">
        <input type="submit">
    </div>
</form>

{% endblock %}