{% extends "base.html" %}
{% block content %}

<h2>Add a New Member</h2>

<form action="/members" method="POST" class="create-form">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="text-input">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" class="text-input">
        <label for="premium">Premium:</label>
        <input type="radio" id="premium" name="premium" value="True">
        <input type="submit">
    </div>
</form>


{% endblock %}