{% extends "base.html" %}
{% block content %}

<section >
    <h3> Create booking</h3>
    <hr>

    <form action="/bookings" method="POST" id="booking-section">
        <div >
            <label for="member">Member:</label>
            <select name="member_id" class="dropdown">
                {% for member in members %}
                <option value="{{ member.id }}">
                    {{ member.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="session">Class:</label>
            <select name="session_id" class="dropdown">
                {% for session in sessions %}
                <option value="{{ session.id }}">
                    {{ session.title }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </form>
    
</section>



<section>

    <div id="create-class-wrap">
        <h3>Upcoming classes</h3>
        <a class="button" href="/sessions/new">+ Create class</a>
    </div>

</section>

<hr>
<div id=class-list>

    {% for session in sessions %}

    <a class="session-links" href="/sessions/{{ session.id }}">
        <section class="session-tile">
            <h5>{{ session.date }}</h5>
            <h2>{{ session.title }}</h2>
            <p>{{ session.description }}</p>
        </section>
    </a>


{% endfor %}

</div>

{% endblock %}